[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-login = "*"
flask-wtf = "*"
flask-babel = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
typing-extensions = "*"
email-validator = "*"

[requires]
python_version = "3.9"
