[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
babel = "==2.9.1"
click = "==6.7"
decorator = "==4.4.0"
flask-wtf = "==0.14.2"
itsdangerous = "==1.1.0"
markupsafe = "==1.1.1"
pbr = "==5.4.3"
pytz = "==2019.2"
six = "==1.12.0"
sqlalchemy-migrate = "==0.12.0"
sqlparse = "==0.3.0"
werkzeug = "==0.15.6"
Flask = "==1.1.1"
Flask-Babel = "==0.12.2"
Flask-Login = "==0.4.1"
Flask-SQLAlchemy = "==2.4.0"
Jinja2 = "==2.10.1"
SQLAlchemy = "==1.3.8"
Tempita = "==0.5.2"
WTForms = "==2.2.1"

[requires]
python_version = "3.6"
