migrate
Babel==2.7.0
click==6.7
decorator==4.4.0
Flask==1.1.1
Flask-Babel==0.12.2
Flask-Login==0.4.1
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pbr==5.4.3
pytz==2019.2
six==1.12.0
SQLAlchemy==1.3.8
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
Tempita==0.5.2
Werkzeug==0.15.6
WTForms==2.2.1
